registry=https://newmarketrm.pkgs.visualstudio.com/_packaging/ah-so-ui-library/npm/registry/
always-auth=true
//newmarketrm.pkgs.visualstudio.com/_packaging/ah-so-ui-library/npm/registry/:username=svc_designfactory_vsts@newmarketinc.com
//newmarketrm.pkgs.visualstudio.com/_packaging/ah-so-ui-library/npm/registry/:_password=emhiZXRpcWl4djd4bHM1NG1mdmVrbG1yaGZ6Z3JkNHQzbGhmbGhkbjdscWtreGg1dm8ycQ==
//newmarketrm.pkgs.visualstudio.com/_packaging/ah-so-ui-library/npm/registry/:email=svc_designfactory_vsts@newmarketinc.com
//newmarketrm.pkgs.visualstudio.com/_packaging/ah-so-ui-library/npm/registry/:always-auth=true